products.csv
images.csv
images/
images_clean/
.vscode/launch.json
**/__pycache__/
geckodriver.log
.mypy_cache/
*.egg-info/
*.log

clean_products.csv
svm.py
prod_imgs.pkl
image_cat.csv
.gitignore
requirements.txt
image_cat.pkl
